body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .05em;
  line-height: 2em;
  color: black;
  font-size: 24px;
  height: 100%;
}

.container-fluid {
  background: url("../Images/login-bkgrd.jpg");
  background-repeat: no-repeat;
  background-position: center center;  
  background-size: cover;
  height: 100%;
}

#column1 {
  padding: 10px 30px;
}

#column2 {
  padding: 10px 30px;
  text-align: center;
  line-height: 1.35em;
}

#column3 {
  padding: 10px 30px;
  text-align: right;
}

button {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .05em;
  line-height: 2em;
  font-size: 18px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  border-radius: .5em;
  border: 1px solid black;
  color: black;
  height: 50px;
}

input[type=text], select {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    border-radius: .5em;
    text-align: center;
    font-size: 16px;
  }

img {
  background-size: contain;
}

#walking {
    padding: 0 200px 0 130px;
    animation-duration: 4s;
    animation-name: moving;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: -webkit-sticky;
}

@keyframes moving {
    from {
        left: 5%;
    }
    to {
        right: 5%;
    }
}

#home {
    padding: 15px 0 15px 0;
}

#morph {
    padding: 0 540px 50px 540px;
}

#dead {
    padding: 0 470px 50px 470px;
}

h1 {
    padding-top: 100px;
    line-height: 1em;
    font-size: 50px;
    text-transform: uppercase;
    color: white
}

h2 {
  text-transform: uppercase;
}

h3 {
    text-align: left;
}

p {
    line-height: 1.25em;
    font-size: 26px;
    color: white
}
label {
  padding-top: 70px;
  line-height: 1.25em;
  font-size: 26px;
  color: white
}
#name-submit {
  margin-bottom: 200px;
}

#press-play {
  padding-top: 100px;
}

.dead-notice {
  padding-top: 100px;
}
.messages-right {
  padding-right: 100px;
  text-align: left;
}